/************ SKELETONS ************/
.skeleton { display:flex; }
.skeleton br { display:none; }
.skeleton .owl-stage-outer { width:100%; display:flex; gap:10px; }
.skeleton .react-loading-skeleton { display:block; height:100%; }

/** hot collections **/
.skeleton .nft_coll { width:100%; }
.skeleton .nft_wrap { height:152px; }
.skeleton .nft_wrap .react-loading-skeleton { border-radius:0; }
.skeleton .nft_coll_pp { height:60px; border-radius:50%; background:#ffffff; padding:5px; }
.skeleton .nft_coll_info { display:flex; flex-direction:column; gap:8px; }
.skeleton .nft_coll_info > span { display:flex; align-items:center; justify-content:center; }

/** new items **/
.skeleton .nft__item { width:100%; }
.skeleton .author_list_pp { height:50px; border-radius:50%; background:#ffffff; }
.skeleton .nft__item_wrap { display:block; }
.skeleton .nft__item_wrap .react-loading-skeleton { width:100%; }
.skeleton .nft__item_info { margin-top:8px; display:flex; flex-direction:column; gap:8px; }
.skeleton .nft__item_like { position:absolute; bottom:0; right:0; display:flex; align-items:center; }
.skeleton .nft__item_like:hover i { color:#ddd; }

/** top sellers **/
.skeleton.author_list { display:block; }
.skeleton.author_list .author_list_info { display:flex; flex-direction:column; gap:8px; }
.skeleton.author_list .author_list_info span { line-height:1; }

/** author **/
.skeleton .d_profile, .skeleton .de_tab { width:100%; }
.skeleton .profile_avatar .react-loading-skeleton { width:150px; height:150px; }
.skeleton .profile_name { display:flex; flex-direction:column; justify-content:center; gap:16px; }
.skeleton .profile_name > span { width:100%; display:block; }
.skeleton .profile_name .react-loading-skeleton { width:100%; }

/** item details **/
.skeleton .item_info_counts > div { height:30px; }
.skeleton .mr40 { margin-top:14px; width:100%; }
.skeleton .de_tab_content { margin-right:40px; padding-top:36px; }
.skeleton .spacer-40 { height:46px; }
/********** END SKELETONS **********/

/****** SCREEN SIZES ******/

/** large screen size **/
@media (max-width:1280px) {

}

/** regular screen size **/
@media (max-width:1024px) {
	.skeleton .nft_coll, .skeleton .nft__item { flex:0 0 auto; width:calc(100% / 3 - 6.5px); }
}

/** tablet size **/
@media (max-width:768px) {
	.skeleton .nft_coll, .skeleton .nft__item { flex:0 0 auto; width:calc(50% - 5px); }
}

/** large smartphone size **/
@media (max-width:600px) {
	.skeleton .nft_coll, .skeleton .nft__item { flex:0 0 auto; width:100%; }
}

/** small smartphone size **/
@media (max-width:480px) {
	
}
/**** END SCREEN SIZES ****/